// 自定义color
$color-fff: #fff;
$color-ccc: #ccc;
$color-666: #666;
$color-f1f1f1: #f1f1f1;
$color-e4e7ed: #e4e7ed;
$color-e5e5e5: #e5e5e5;
$color-a0abbf: #a0abbf;
$color-2b3647: #2b3647;
$color-141b27: #141b27;
$color-ddecff: #ddecff;
$color-409eff: #409eff;
$color-ddf8f8: #ddf8f8;
$color-67c23a: #67c23a;
$color-fff4db: #fff4db;
$color-e6a23c: #e6a23c;
$color-f56c6c: #f56c6c;
$color-ff0000: #ff0000;
$color-eeedfb: #eeedfb;
$color-938dfd: #938dfd;